<mat-card>
 
  <mat-accordion multi="true" *ngFor="let post of posts">
    <mat-expansion-panel [expanded]="true" *ngIf="posts.length > 0&& post.completed" >
      <mat-expansion-panel-header>
        {{ post.title }}
      </mat-expansion-panel-header>
      <p>{{ post.content }}</p>
      <p> {{ post.content2 }}</p>
      <p> {{ post.date  | date}}</p>
      

      
      <mat-action-row>
        <button mat-button (click)="onComplete(post._id)"  color="accent">MARK AS UNCOMPLETED</button>
        <button mat-button (click)="onDelete(post._id)" color="warn">DELETE</button>
        
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="info-text mat-body-1" *ngIf="posts.length <= 0">No completed to-dos yet!</p> </mat-card>