<mat-card>
    <mat-icon [routerLink]="['/']" >home</mat-icon>
  <form (submit)="onEditToDo(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel={{post.title}}
        required
        #title="ngModel"
        >
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel={{post.content}}
        required
        #content="ngModel">
      </textarea>
      <mat-error *ngIf="content.invalid">Please enter a post title.</mat-error>
    </mat-form-field>

    <input matInput [matDatepicker]="myDatepicker">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>

    <button
      mat-raised-button
      color="accent"
      type="submit">Update Post</button>
  </form>
</mat-card>