<mat-card>
  <form (submit)="onAddToDo(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput placeholder="Title"
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a to-do title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput placeholder="Description"
        rows="4"
        name="content"
        ngModel
        required
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a to-do description.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput placeholder="Description2"
        rows="4"
        name="content2"
        ngModel
        #content2="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a to-do description.</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [ngModel]= "date" placeholder="Choose a date" name="date" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>


    </mat-form-field>

  <br>
    <button
      mat-raised-button
      color="accent"
      type="submit">Submit To-Do</button>
  </form>
</mat-card>